@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #d90202; /* Vermelho */
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(Screenshot_4.png);
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Adiciona o efeito de desfoque */
    z-index: -1;
}

.container {
    background-color: #1e1e1e; /* Preto mais claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    margin: 20px;
    border: 1px solid #e01212; /* Vermelho */
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    color: #d90202; /* Vermelho */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #a1a1a1; /* Vermelho */
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d90202; /* Vermelho */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2e2e2e; /* Preto mais claro */
    color: #ffffff; /* Vermelho */
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d90202; /* Vermelho */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a50303;
    color: #ffffff; /* Vermelho mais escuro */
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top: 3px solid #e01212; /* Vermelho */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
